Django==6.0.2
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
Pillow
sphinx
sphinx-rtd-theme      
myst_parser
channels
daphne
pycodestyle
pylint==3.3.1
astroid==3.3.8
pylint-django==2.6.1
coverage
python-dotenv
